RootPanel {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	WorkClock {
		position: absolute;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgb( 210, 220, 240 );
		border-radius: 30;
		border: 20px solid rgb( 15, 15, 15 );
		width: 240px;
		height: 140px;
		top: 10px;
		left: 10px;
		font-family: "Open 24 Display St";
		letter-spacing: 5px;
		text-shadow: 2px 2px 0px rgba( 0, 0, 0, 0.5);
		color: rgb( 50, 70, 130 );

		.title {
			font-size: 60px;
			top: -10px;
		}

		.bottom {
			flex-direction: row;
			bottom: 10px;

			.subtitle {
				font-size: 33px;
			}

			.subtitle {
				font-size: 33px;
			}
		}

		&.hidden {
			opacity: 0;
		}
	}
}
